<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="InvestecSignUp" parallel="methods" thread-count="15" >
    <listeners>
        <listener class-name="pageObjects.Listeners"></listener>
    </listeners>
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="demonstration.MultiBrowser" />
        </classes>
    </test>
    <test name="ChromeTest">
        <parameter name="browser" value= "chrome" />
        <classes>
            <class name="demonstration.MultiBrowser" />
        </classes>
    </test>

    <test name="MSEdgeTest">
        <parameter name="browser" value= "Edge" />
        <classes>
            <class name="demonstration.MultiBrowser" />
        </classes>
    </test>
</suite>